:root {
  --primary-color: rgb(218, 174, 33);
}

.App {
  text-align: center;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.input-container input {
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  width: 50vw;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: bisque;
}

.input-container span {
  color: var(--primary-color);
  font-size: 5vh;
}
.input-container h1 {
  font-size: 5vh;
}
.input-container div {
  display: flex;
  margin-bottom: 2rem;
}
.input-container button {
  margin-left: 2px;
  background-color: black;
  color: white;
  padding: 10px;
}
.input-container button:hover {
  background-color: var(--primary-color);
}
.input-container input::placeholder {
  font-size: 0.9rem;
}

/* Result component */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: rgb(0, 0, 0);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  color: #ffff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.result .copied {
  background-color: white;
  color: black;
}

.noData {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}



